<template tag-name="zcat-loader">
  <div lyte-if="{{zcatProp.type === 'content'}}" class="zcat-skeleton-loader">
    <div class="zcat-skeleton-row">
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col zcat-skeleton-float-right"></div>
    </div>
    <div class="zcat-skeleton-row">
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
    </div>
    <div class="zcat-skeleton-row">
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
    </div>
    <div class="zcat-skeleton-row">
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
    </div>
    <div class="zcat-skeleton-row">
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
    </div>
    <div class="zcat-skeleton-row">
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
      <div class="zcat-skeleton-col"></div>
    </div>
  </div>
  <div lyte-else-if="{{zcatProp.type === 'spin'}}" class="zcat-spin-loader"></div>
  <div lyte-else class="zcat-progress-loader"></div>
</template>
