<template tag-name="zcat-attention">
  <div class="zcat-attention-container zcat-atten-{{zcatProp.type || 'default'}}">
    <div class="zcat-attention-inner">
      <div class="zcat-attention-icon-wrap">
        <zcat-icon lyte-if="{{zcatProp.type === 'success'}}" name="alert-success" width="14" height="14" stroke="currentColor" stroke-width="1.3"></zcat-icon>
        <zcat-icon lyte-else-if="{{zcatProp.type === 'danger'}}" name="alert-danger" width="14" height="14" stroke="currentColor" stroke-width="1.3"></zcat-icon>
        <zcat-icon lyte-else-if="{{zcatProp.type === 'warning'}}" name="alert-warning" width="14" height="14" stroke="currentColor" stroke-width="1.3"></zcat-icon>
        <zcat-icon lyte-else name="info" width="14" height="14" stroke="currentColor" stroke-width="1.3"></zcat-icon>
      </div>
      <div class="zcat-attention-text">
        <span class="zcat-attention-head {{zcatProp.desc ? 'zcat-attention-head-bold' : ''}}">{{zcatProp.name}}</span>
        <span lyte-if="{{zcatProp.desc}}" class="zcat-attention-desc">{{zcatProp.desc}}</span>
      </div>
    </div>
  </div>
</template>
